USE [master]
GO
/****** Object:  Database [Prueba]    Script Date: 14/07/2023 8:32:53 p. m. ******/
CREATE DATABASE [Prueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Prueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Prueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba]
GO
/****** Object:  Table [dbo].[Precio]    Script Date: 14/07/2023 8:32:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Precio](
	[Fecha] [date] NULL,
	[price] [numeric](18, 0) NULL,
	[user_id] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Validacion]    Script Date: 14/07/2023 8:32:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Validacion](
	[archivo] [varchar](50) NULL,
	[conteo] [numeric](18, 0) NULL,
	[maximo] [numeric](18, 0) NULL,
	[minimo] [numeric](18, 0) NULL,
	[promedio] [numeric](18, 0) NULL,
	[medio] [numeric](18, 0) NULL,
	[bandera] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
